body{
    margin:0;
    font-family: Roboto;
    font-weight: 300;
}
.info-message{
    text-align: center;
    color: white;
    background-color: #4938B5;
    padding-top: 5px;
    padding-bottom:5px;
}
header{
    padding:.5rem 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* NAVBAR */
ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav li{
   margin:0 10px; 
}
nav li:hover{
    transform: scale(1.02);
    transition: 0.2s;
}
ul a{
    font-weight: 400;
    color:#1D0D85;
    text-decoration: none;
}
.logo{width: 150px;height: 30px;}
.li-icon{
    height: 25px;
    width: 25px; 
    filter: invert(15%) 
    sepia(55%) saturate(4583%) hue-rotate(245deg) 
    brightness(71%) contrast(119%);
}
/* MOBILE NAVBAR */
#mobile-navbar{
    margin:auto 0;
    display: none;
    cursor: pointer;
}
#mobile-navbar li{
    margin-left: 1rem;
}
#mobile-navbar div{
    border-radius: 5px;
    width: 35px;
    height: 2px;
    background-color: #1D0D85;
    margin:6px 0;
    transition: 0.4s;
}
.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px,6px);
    transform:rotate(-45deg)translate(-5px,6px);
}
.open .bar2 {
    opacity:0;
}
.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px,-6px);
    transform:rotate(45deg)translate(-5px,-6px);
}
.open .mobile-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255,255,255,0.9);
    border-radius: 2px;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 20%), 0 8px 16px rgb(0 0 0 / 10%);
    border:rgba(112, 112, 112, 0.1) solid 1px;
    z-index: 901;
}
.mobile-menu{
    padding: 1rem 2rem 1rem 1rem;
    display: none;
    position: absolute;
    top:6.3rem;
    right: 0.6rem;
    height:calc(100vh-50px);
    width: 6rem;
}
.mobile-menu li{
    margin-bottom:10px;
}

/* SLIDER */
.slider-container{
    height: 455px;
    width: 100%;
    position: relative;
    overflow: hidden; 
    text-align: center;
  }
.menu {
    position: absolute;
    left: 0;
    z-index: 900;
    width: 100%;
    bottom: 0;
  }
.menu label {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50px;
    margin: 0 .2em 1em;
}.menu label:hover {
    background:#4938B5;
}
.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 8em 1em 0;
    background-size: cover;
    background-position: 50% 50%;
    transition: left 0s .75s;
}
[id^="slide"]:checked + .slide {
    left: 0;
    z-index: 100;
    transition: left .65s ease-out;
}
  
.slide-1 {
    background-image: url(/images/slider.png);
}
.slide-2 {
    background-image: url(/images/slider.png);
}
.slide-3 {
    background-image: url(/images/slider.png);
}

/* CARDS */
.card-container{
    padding:6% 8%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}
.card{
    display: flex;
    justify-content: center;
}
.product-card{
    display: flex;
    flex-direction: column;
    width: 287px;
    height: 418.74px;
}
.lbl-discount{
    background-color:#D12727;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    width: 42px;
    height: 40px;
    margin:10px 0 0 230px;
    z-index:3;
}
.lbl-corner{
    position: absolute;
    z-index: 1;
    width: 0;
    height: 0;
    border-top: 100px solid #4938B5;
    border-right: 100px solid transparent;
}
.lbl-new-product{
    text-decoration: none;
    font-size: 22px;
    margin: 12px;
    color: white;
    font-weight: bold;
    position: absolute;
    margin-bottom: 300px;
    z-index: 2;
}
.card-image{
    display: flex;
    margin-left:19.63px;
    width: 247.74px;
    height: 240px;
}
.card-base {
    Width: 287px;
    Height :171px;
    margin-top:20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color:#EDEDED;
}
.lbl-product-name{
    margin:0;
    
    font-size: 16px;
}
.lbl-price{
    font-size: 22px;
    margin:20px 0 ;
    width: 249px;
}
.lbl-discount-price{
    color: #4938B5;
}
.lbl-normal-price{
    text-decoration: line-through;
    color:#6C757D;
}
.btn-buy{
    text-decoration: none;
    background-color: #4938B5;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 249px;
    height: 42px;
}
.btn-buy:hover{
    background-color: #1D0D85;
}
.btn-buy img{
    padding-right:5px;
    width: 16px;
    height: 16px;
    filter: invert(100%) sepia(99%) saturate(0%) hue-rotate(82deg) brightness(108%) contrast(100%);
}
/* PROFESIONALES ESPECIALISTAS */
.section-title{
    padding:1rem 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.section-title h2{
    color: #4938B5;
    font-weight: 400;
    font-size: 34px;
    margin-top: 0;
    margin-bottom: 0;
}
.section-title h2:nth-child(2){
    margin:0;
    color: #4938B5;
    font-weight: 500;
    font-size: 72px;
}

/* PHOTO CONTAINER FLEXBOX */
.photo-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    padding:1rem 8%;
}
.photo-column {
    /*border:1px solid black;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.photo-column:nth-child(2){
    flex-direction: row-reverse;
}
.photo-item{
    width: 70%;
    padding-bottom:1%;
}
.photo-item:nth-child(2){
    width: 29%;
}
/* SUBSCRIBE FORM */
.subscribe-form{
    background-color: #EDEDED;
    color:#272727;
    padding: 1rem 8%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.lbl-subscribe{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.lbl-subscribe h3{
    font-weight: 400;
    font-size: 24px;
}
.lbl-subscribe p{
    font-size: 14px;
}
.submit-subscribe{
    display: flex;
    flex-direction: row;
}
.submit-subscribe input{
    margin:0 1rem;
    width: 220px;
    border-radius: 5px;
    border: none;
    padding:0 1rem;
}
.submit-subscribe a{
    text-decoration: none;
    background-color: #4938B5;
    color: white;
    height: 46px;
    width: 153px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    font-size: 16px;
    border-radius: 25px;
}
.submit-subscribe a:hover{
    background-color: #1D0D85;
}

/* MEDIA */
@media (min-width: 700px) {
    .card-container { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 1090px) {
    .card-container { grid-template-columns: repeat(3, 1fr); }
}
@media (min-width: 1440px) {
    .card-container { grid-template-columns: repeat(4, 1fr); }
}
@media only screen and (max-width:800px){
    header{
        padding: 0 5%;
    }
    header nav {
        display:none;
    }
    #mobile-navbar{
        display: block;
    }
    .slider-container{
        height: 286.9px;
    }
    .section-title{
        align-items: center;
    }
    .section-title h2{
        font-size: 13px;
    }
    .section-title h2:nth-child(2){
        font-size: 24px;
    }
    .photo-container {
        flex-direction: row;
    }
    .photo-column {
        width: 50%;
        flex-direction: column-reverse;
    }
    .photo-column:nth-child(2){
        flex-direction: column;
    }
    .photo-item{
        height: 70%;
        width: 98%;
    }
    .photo-item:nth-child(2){
        height: 30%;
        width: 98%;
    }
    .subscribe-form{
        flex-direction: column;
    }
    .lbl-subscribe{
        width: 92%;
        justify-content: center;
        align-items: center;
    }
    .lbl-subscribe h3{
        margin: 0;
    }
    .submit-subscribe{
        width: 92%;
        flex-direction: column;
        align-items: center;
    }
    .submit-subscribe input{
        width: 100%;
        height: 40px;
        margin:5px 0;
    }
    .submit-subscribe a{
        width: 108%;
        height: 30px;
    }
}

